.admin-menu-block {
    width: 20%;
    margin: 0;
    padding: 5px;
    display: inline-block;
}
.admin-body-wrapper {
    margin: 0 auto;
    width: 75%;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
}
.admin-body-wrapper.no-menu {
    width: 95%;
    margin: 10px auto;
}
.admin-body-wrapper h1 {
    border-bottom: 1px solid #000;
}
.deleted {
    text-decoration: line-through;
}
fieldset > div {
    margin: 5px 5px 5px 0;
    padding: 3px 3px 3px 0;
}
fieldset label, label {
    font-weight: bold;
    margin: 0 5px;
}
fieldset legend {
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 98%;
    margin-bottom: 7px
}
fieldset .sub-form-legend {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px solid #ddd;
    display: inline-block;
}
.add-one-more-row {
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    color: #888;
}
.remove-form-row {
    cursor: pointer;
}
.form-row.phone-number:nth-child(2) .remove-form-row {
    display:none;
}
.form-row {
    margin: 5px 0;
}
.form-row.header {
    font-weight: 700;
}
.form-row.header .url,
.form-row.header .name {
    width: 15em;
    display: inline-block;
}
.form-row.header .comment {
    width: 14.5em;
    display: inline-block;
}
.form-row.header .active,
.form-row .active {
    display: inline-block;
    text-align: center;
    width: 65px;
}
.form-row .phone-numbers .type-select {
    width: 100px;
}
.form-errors {
    background-color: #ffe6ee;
    margin: 25px 0;
    padding: 5px;
    border-radius: 5px 5px 5px;
}
.form-errors ul {
    list-style-type: none;
    padding: 0 17px;
}
.header {
    padding: 15px 15px 15px 0;
}
.addresses {
    width: 300px;
}
.addresses .remove-form-row {
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
    width: 10px;
}
.address {
    display: inline-block;
    width: 290px;
}
.name .dijitTextBox {
    width: 100px;
}
.name .title .dijitTextBox {
    margin: 0 10px;
}
.contacts .type,
.contacts .email,
.contacts .person,
.contacts .comment {
    vertical-align: top
}
.flash-notice {
    background-color: lightcyan;
    padding: 17px;
    margin: 17px 0;
    border-radius: 5px 5px 5px;
}
.form-row.address > * {
    display:block;
}
.form-row.comment .dijitTextBox.dijitTextArea {
    height:50px;
    width: 300px;
}
.dijit.type-select,
.form-row.address .type-select,
.form-row.email .type-select,
.form-row.phone-number .type-select {
    width: 75px;
    display: inline-block;
}
.field-id,
.dgrid-column-id {
    display: none;
}