.admin-body-wrapper {
    margin: 0 auto;
    padding: 15px;
}
.deleted {
    text-decoration: line-through;
}

fieldset > div {
    margin: 5px;
    padding: 3px;
}
fieldset label {
    font-weight: bold;
    margin: 0 5px;
}
fieldset legend {
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 95%;
    margin-bottom: 7px
}
fieldset .sub-form-legend {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px solid #ddd;
    display: inline-block;
}
.add-one-more-row {
    text-decoration: underline;
    cursor: pointer;
}
.remove-form-row {
    cursor: pointer;
}
.form-row.phone-number:nth-child(2) .remove-form-row {
    display:none;
}
.form-row {
    margin: 5px 0;
}
.form-row .phone-numbers .type-select {
    width: 100px;
}
.addresses {
    width: 300px;
}
.addresses .remove-form-row {
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
    width: 10px;
}
.address {
    display: inline-block;
    width: 290px;
}
.contacts .type,
.contacts .email,
.contacts .person,
.contacts .comment {
    vertical-align: top
}
.form-row.address > * {
    display:block;
}

.form-row.comment .dijitTextBox.dijitTextArea {
    height:50px;
    width: 300px;
}

