#manufacturer-view-dialog .dijitDialogPaneContent,
#vendor-view-dialog .dijitDialogPaneContent {
    width: 760px !important;
    height: 740px !important;
}
.manufacturer-name,
.vendor-name,
.trailer-name {
    font-size: 1.5em;
    display: inline-block;
}
.manufacturer-name .dijitTextBox,
.trailer-name .dijitTextBox,
.vendor-name .dijitTextBox {
    width: 225px;
}
.brand .name, .brand .comment, .brand .active,
.location_type .name, .location_type .comment, .location_type .active,
.vendor .name, .vendor .comment, .vendor .active {
    display: inline-block;
}
.form-row.brand:nth-child(2) .remove-form-row {
    display:none;
}
.asset .justify span,
.model .justify span,
.vendor .justify span {
    padding-right: 10px;
}
#asset-view-history-tab ul,
#model-view-history-tab ul,
#asset-view-model-relationships-tab ul,
#trailer-view-history-tab ul,
#trailer-view-model-relationships-tab ul {
    list-style-type: none;
    padding: 0;
}
#asset_location_ctype,
#trailer_location_ctype {
    list-style-type: none;
    padding: 0;
}
.categories .justify {
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
#category-tree, #trailer-tree {
    padding-top: 75px;
}
.categories .header {
    padding: 2px;
}
.category-form .parent {
    width: 110px;
    display: inline-block;
}
.category-form .position,
.category-form .position .dijitTextBox,
.category-form .value,
.category-form .value .dijitTextBox,
.issue-priority .dijitTextBox {
    width: 45px;
}
.category .position .dijitInputContainer input {
    text-align: right;
}
.category-form-inputs {
    margin-right: 35px;
}
.location-types .header .entity {
    width: 110px;
    display:inline-block;
}
.dijitTextBox.location-filtering-select {
    width: 300px;
}
#asset-wrapper .field-comment {
    display: none;
}
.field-barcode,
.field-serial_number,
.field-status_text {
    width: 100px;
}
#expenses > div {
    margin: 15px 0;
}
.partially-operational {
    background-color: lightyellow;
}
.not-operational {
    background-color: lightpink;
}
.service-instructions.dijitTextBox.dijitTextArea {
    height: 150px;
    width: 100%;
}
.form-row.issue-status .order .dijitTextBox {
    width: 50px;
    text-align: right;
}
.form-row.issue-workflow .name {
    display: inline-block;
    width: 150px;
}
.form-row.issue-workflow .next {
    display: inline-block;
}
.form-row.issue-workflow {
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 0;
}
.form-row.issue-workflow .next ul {
    margin: 0;
}
.form-row.issue-workflow .next ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 21px;
}
.issue-summary .dijitTextBox {
    width: 250px;
}
.issue-item .item .dijitTextBox {
    width: 285px;
}
.issue-item .status .dijitTextBox {
    width: 150px;
}
.issue-item .comment .dijitTextBox {
    width: 350px;
}