#manufacturer-view-dialog .dijitDialogPaneContent,
#vendor-view-dialog .dijitDialogPaneContent {
    width: 760px !important;
    height: 740px !important;
}
.manufacturer-name,
.vendor-name {
    font-size: 1.5em;
    display: inline-block;
}
.manufacturer-name .dijitTextBox,
.vendor-name .dijitTextBox {
    width: 225px;
}
.brand .name, .brand .comment, .brand .active,
.location_type .name, .location_type .comment, .location_type .active,
.vendor .name, .vendor .comment, .vendor .active {
    display: inline-block;
}
.form-row.brand:nth-child(2) .remove-form-row {
    display:none;
}
.asset .justify span,
.model .justify span,
.vendor .justify span {
    padding-right: 10px;
}
#asset-view-history-tab ul,
#model-view-history-tab ul,
#asset-view-model-relationships-tab ul {
    list-style-type: none;
    padding: 0;
}
.field-id {
    display: none;
}
#asset_location_ctype {
    list-style-type: none;
    padding: 0;
}
.categories .justify {
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
#category-tree {
    padding-top: 75px;
}
.category .position .dijitTextBox {
    width: 50px;
}
.category .position .dijitInputContainer input {
    text-align: right;
}