#manufacturer-view-dialog .dijitDialogPaneContent {
    width: 760px !important;
    height: 720px !important;
}
.manufacturer-name {
    font-size: 1.5em;
    display: inline-block;
}
.manufacturer-name .dijitTextBox {
    width: 225px;
}
.brand .name, .brand .comment, .brand .active {
    display: inline-block;
}
.form-row.brand:nth-child(2) .remove-form-row {
    display:none;
}
.asset .justify span,
.model .justify span {
    padding-right: 10px;
}
#asset-view-history-tab ul,
#model-view-history-tab ul {
    list-style-type: none;
    padding: 0;
}
.field-id {
    display: none;
}
#category-wrapper, 
#status-wrapper {
    margin: 0 auto;
    width: 500px;
}