.hidden {
    display: none;
}
.hide-on-load {
    position: relative;
    left: -10000px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.justify {
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 5px;
}
.loading {
    height: 500px;
    width: 100%;
    background: url('/images/loading.gif') no-repeat center;
}
.text-right {
    text-align:right;
}
.right {
    position: absolute;
    right: 0;
}
.xshort {
    width: 1.2em;
}
.form-row > * {
    margin: 3px;
}
.dijitSelect .dijitButtonContents {
    width: 160px;
}
.form-row.comment .dijitTextBox.dijitTextArea {
    height:50px;
    width: 300px;
}