.hidden {
    display: none;
}
.hide-on-load {
    position: relative;
    left: -10000px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.justify {
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 5px;
}
.loading {
    height: 500px;
    width: 100%;
    background: url('/images/loading.gif') no-repeat center;
}
.text-right {
    text-align:right;
}
.right {
    position: absolute;
    right: 0;
}
.xshort {
    width: 1.2em;
}
.link {
    text-decoration: underline;
    cursor: pointer;
}
.date {
    width: 65px;
    display: inline-block;
}
.view-block span:nth-child(1n+2) {
    padding-left: 7px;
}
.view-inline {
    display: table-row;
}
.view-inline span {
    padding-right: 15px;
    display:table-cell;
}
.form-row > * {
    margin: 3px;
}
.grid-controls {
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid;
}
.field-active, .field-container {
    text-align: center;
    width: 75px;
}
.dgrid-column-remove {
    width: 50px;
    text-align: center;
}
/*
.dgrid-row-table {
    height: auto;
}
*/
.dijitSelect .dijitButtonContents {
    width: 160px;
}
.dgrid pre {
    padding: 0;
    background: #fff;
    border: 0;
    font-family: inherit;
    font-size: inherit;
}
.tundra .dijitMenu, .tundra .dijitMenuBar, .tundra .dijitDialog {
    border-color: #9966ff;
}
.tundra .dijitMenuPassive .dijitMenuItemHover, .tundra .dijitComboBoxMenu .dijitMenuItemHover, .tundra .dijitMenuItemSelected {
    background-color:  #7733ff;
    color: #fff;
}
.dgrid pre:hover,
.tundra .dgrid-row:hover {
    background-color: #aa80ff;
}
.tundra .dgrid-selected,
.tundra .dgrid-selected pre {
    background-color: #ccb3ff;
}
.tundra .dijitDialogUnderlay._underlay {
    opacity: 0.75;
    background-color: #000;
}
.dijitSelect .dijitButtonContents {
    width: 100px;
}
.field-emails ul {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
    margin: 0;
}
.center {
    margin: 0 auto;
}
.date-span {
    padding-left: 15px;
    font-style: italic;
}
.label {
    font-weight: 700;
}
.term {
    text-decoration: underline;
}
.instructions {
    margin: 25px 0;
}
.dgrid-column-name.field-name pre.name {
    font-weight: 700;
}