#manufacturer-view-dialog {
    width: 760px;
}
.manufacturer-name {
    font-size: 1.5em;
    display: inline-block;
}
.manufacturer-name .dijitTextBox {
    width: 225px;
}
.brand .name, .brand .comment, .brand .active {
    display: inline-block;
}
.form-row.brand:nth-child(2) .remove-form-row {
    display:none;
}
