.dgrid-column-id,
.dgrid-column-billable,
.dgrid-column-canceled,
.dgrid-column-tentative {
    width: 75px;
}
.dgrid-column-billable,
.dgrid-column-canceled,
.dgrid-column-tentative {
    text-align: center;
}
.event.name{
    font-size: 1.5em;
    display: inline-block;
}
.event .description .dijitTextArea {
    height: 150px;
}
.event .contract .name .dijitTextBox {
    width: 300px;
}
#event-times-and-staff-tab .justify fieldset, 
#event-view-equipment-tab .justify fieldset {
    width: 45%;
}
.contract-equipment-link {
    margin-left: 25px;
}
.dgrid-column-dates .date-span {
    font-style: normal;
}
.event .start .dijitTextBox,
.event .end .dijitTextBox {
    width: 100px;
}
pre#venue-address {
    padding-left: 0;
    margin: 0;
    font-size: 1.0em;
    border: 0;
    background-color: #fff;
}

.venue-info {
    border: 1px solid #eee;
    width: 100%;
    display: block;
}