.grid-controls {
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid;
}
[name="user"] > div {
    padding: 5px;
    margin: 0 auto;
}
[name="user"] > div label {
    font-weight: bolder;
    width: 62px; 
    display: inline-block;
    text-align: right;
    padding-right: 7px;
}
[name="user"] .dijitSelect .dijitButtonContents {
    width: 160px;
}
ul#user_roles li,
ul#user_groups li {
    list-style-type: none;
    list-style-position: inside;
}
ul#user_roles li label,
ul#user_groups li label {
    width: auto;
}