/* main.css */
.container.content {
    margin-top: 60px;
}
.hidden {
    display: none;
}
.hide-on-load {
    position: relative;
    left: -10000px;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.justify > div {
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 5px;
}
.loading {
    height: 500px;
    width: 100%;
    background: url('/images/loading.gif') no-repeat center;
}