{% block title %}{{ 'asset.admin'|trans }}{% endblock %}
{% extends 'admin.base.html.twig' %}

{% block admin_content %}
    <div id="asset-wrapper">
        <h1>{{ 'asset.admin'|trans }}</h1>
    </div>
{% endblock %}
