*~
/app/cache
/app/logs
/nbproject
/composer.phar
/vendor
/var
autoload.php
composer
var
web/assetic
web/css
web/js
web/release
web/vendor
web/vendor/bootstrap
web/vendor/bootstrap-7-col
web/vendor/Font-Awesome
web/vendor/fonts
web/vendor/dojo*
web/vendor/menu*
!web/vendor
!web/vendor/bootstrap-7-col
!web/vendor/profiles
!web/vendor/profiles/app.profile.js
!web/vendor/build.sh
src/AppBundle/DataFixtures/Demo/LoadUserData.php

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
