*~
/app/cache
/app/logs
/nbproject
/composer.phar
/vendor
*.log
autoload.php
composer
var
web/assetic
web/css
web/js
web/vendor
web/vendor/bootstrap
web/vendor/bootstrap-7-col
web/vendor/Font-Awesome
web/vendor/fonts
web/vendor/dojo*
web/vendor/release
web/vendor/release/*.js*
!web/vendor
!web/vendor/bootstrap-7-col
!web/vendor/profiles
!web/vendor/profiles/app.profile.js
!web/vendor/build.sh
