<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets
            '@bootstrap_css'
            '@main_css'
            filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">

    {% include 'user/parts/nav.html.twig' %}

    <div class="container content" role="main">
        {% block body %}
        {% endblock %}
        {% block fos_user_content %}
        {% endblock %}
    </div>
        
{% block footer %}
{% include 'user/parts/page_footer_script.html.twig' %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>