<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets
            '@dojo_dijit_css'
            '@dgrid_css'
            '@main_css'
            filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="tundra">
    <h3>Menu Demo</h3>
    <div id="mainMenu"></div>
    <p>Last selected: <span id="lastSelected">none</span></p>
    <p>Base</p>
{% block fos_user_content %}{% endblock %}
{% block body %}{% endblock %}
{% include 'parts/page_footer_script.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
