<div class="addresses">
    <span class="sub-form-legend">{{'common.address'|trans}}</span>
    {{form_row(form)}}
    {% if form.vars.allow_add and is_granted('ROLE_ADMIN_USER_ADMIN')  %}
    <div class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
    {% endif %}
</div>