<fieldset class="inline-block">
    <legend>{{'common.person'|trans}}</legend>
    <div class="justify">
        {{form_row(form.firstname)}}
    </div>
    <div class="justify">
        {{form_row(form.middleinitial)}}
    </div>
    <div class="justify">
        {{form_row(form.lastname)}}
    </div>
    {% include 'common/phone_numbers.html.twig' with {'form': form.phone_numbers } %}
</fieldset>