<fieldset class="person inline-block">
    <legend>{{'common.person'|trans}}</legend>
    <div class="name justify">
        {{form_row(form.firstname)}}
        {{form_row(form.middleinitial)}}
        {{form_row(form.lastname)}}
    </div>
    {% include 'common/address.html.twig' with { 'form' : form.address } %}
    {% include 'common/phone_numbers.html.twig' with {'form': form.phone_numbers } %}
</fieldset>