<div class="phone-numbers">
    <span class="sub-form-legend">{{'common.phone_numbers'|trans}}</span>
    {{form_row(form)}}
    {% if form.vars.allow_add %}
    <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
    {% endif %}
</div>