<div class="phone-numbers">
    <span class="sub-form-legend">{{'common.phone_numbers'|trans}}</span>
    {{form_row(form)}}
    <div class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
</div>