{% block title %}{{ 'user.admin'|trans }}{% endblock %}
{% extends 'admin.base.html.twig' %}

{% block admin_content %}
    <div id="admin-wrapper">
        <h1>{{ 'common.admin'|trans }}</h1>
    </div>
{% endblock %}
