{% macro event(startdate,enddate,title,content) %}
    <span class="startdate">{{ startdate|date('m/d/Y') }}</span>
    {% if startdate != enddate %}
    <span class="enddate">{{ enddate|date('m/d/Y') }}</span>
    {% endif %}
    <span class="title">{{ title }}</span>
    <span class="content">{{ content }}</span>
{% endmacro %}
