{% extends 'admin.base.html.twig' %}

{% block admin_user_content %}
    <div id="wrapper">
        Admin User
        <div id="grid">
        </div>
        {{ form(user_form, { 'attr': {'id': 'user-view-form'} }) }}
    </div>
{% endblock %}
