{% extends 'admin.base.html.twig' %}

{% block admin_user_content %}
    <div id="wrapper">
        Admin User
        <div id="controls">
            <button id="new-btn" type="button">New</button>
            <button id="remove-btn" type="button">Remove</button>
        </div>
        <div id="grid">
        </div>
        <div id="user-view-dialog">
            {{ form(user_form, { 'attr': {'id': 'user-view-form'} }) }}
            <div class="center">
            <button id="save-btn" type="button">Save</button>
            </div>
        </div>
    </div>
{% endblock %}
